In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import requests as rq
import random as rnd
import os
import json
import time

# Import API key
import config

# Import citypy to gather city locations
#from citipy import citipy

In [15]:
parent_path = os.path.dirname(os.getcwd())
os.chdir(parent_path)
working_dir = os.getcwd()
print(working_dir)

c:\Users\Inkosi\Desktop\School(BootCamp)

In [20]:
dataset_filelist = ["1_county_level_confirmed_cases.csv","2_cases_and_deaths_by_county_timeseries.csv","weekly-claims-by-county-twc.csv"]
for csv in dataset_filelist:   
    for root, dirs, files in os.walk(working_dir):
        if csv in files:
            if csv == dataset_filelist[0]:
                covid_dataset1 = (os.path.join(root, csv))
            elif csv == dataset_filelist[1]:
               covid_dataset2 =  (os.path.join(root, csv))
            else:
               unemployemet_dataset =  (os.path.join(root, csv))

In [21]:
covid_dataset1 = pd.read_csv(covid_dataset1)
covid_dataset2 = pd.read_csv(covid_dataset2)
unemployemet_dataset = pd.read_csv(unemployemet_dataset)

In [22]:
covid_dataset1.head()

,last_update,location_type,state,county_name,county_name_long,fips_code,lat,lon,NCHS_urbanization,total_population,confirmed,confirmed_per_100000,deaths,deaths_per_100000
0,2020-11-13 00:26:19 UTC,county,Alabama,Autauga,"Autauga, Alabama, US",1001.0,32.539527,-86.644082,Medium metro,55200.0,2385,4320.65,32,57.97
1,2020-11-13 00:26:19 UTC,county,Alabama,Baldwin,"Baldwin, Alabama, US",1003.0,30.727750,-87.722071,Small metro,208107.0,7454,3581.81,84,40.36
2,2020-11-13 00:26:19 UTC,county,Alabama,Barbour,"Barbour, Alabama, US",1005.0,31.868263,-85.387129,Non-core,25782.0,1113,4316.97,9,34.91
3,2020-11-13 00:26:19 UTC,county,Alabama,Bibb,"Bibb, Alabama, US",1007.0,32.996421,-87.125115,Large fringe metro,22527.0,966,4288.19,17,75.46
4,2020-11-13 00:26:19 UTC,county,Alabama,Blount,"Blount, Alabama, US",1009.0,33.982109,-86.567906,Large fringe metro,57645.0,2429,4213.72,34,58.98

In [23]:
covid_dataset2.head()

,uid,location_type,fips_code,location_name,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_deaths,new_cases_per_100_000,new_deaths_per_100_000,new_cases_7_day_rolling_avg,new_deaths_7_day_rolling_avg
0,63072001,county,72001.0,Adjuntas,Puerto Rico,2020-01-22,18181.0,0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,63072001,county,72001.0,Adjuntas,Puerto Rico,2020-01-23,18181.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,63072001,county,72001.0,Adjuntas,Puerto Rico,2020-01-24,18181.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,63072001,county,72001.0,Adjuntas,Puerto Rico,2020-01-25,18181.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,63072001,county,72001.0,Adjuntas,Puerto Rico,2020-01-26,18181.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [24]:
unemployemet_dataset.head()

,County,10/31/2020,10/24/2020,10/17/2020,10/10/2020,10/3/2020,9/26/2020,9/19/2020,9/12/2020,9/5/2020,...,5/2/2020,4/25/2020,4/18/2020,4/11/2020,4/4/2020,3/28/2020,3/21/2020,3/14/2020,3/7/2020,Unnamed: 36
0,Anderson,42.0,79.0,54.0,63.0,64.0,64.0,61.0,66.0,85.0,...,181.0,176.0,183.0,205.0,252.0,180.0,101.0,18.0,20.0,NaN
1,Andrews,17.0,17.0,17.0,30.0,25.0,21.0,18.0,32.0,22.0,...,117.0,133.0,143.0,165.0,143.0,95.0,50.0,16.0,1.0,NaN
2,Angelina,77.0,89.0,80.0,98.0,103.0,100.0,119.0,107.0,171.0,...,463.0,388.0,449.0,495.0,689.0,452.0,227.0,37.0,37.0,NaN
3,Aransas,32.0,22.0,40.0,18.0,26.0,35.0,25.0,31.0,50.0,...,154.0,109.0,160.0,155.0,230.0,217.0,70.0,10.0,9.0,NaN
4,Archer,3.0,6.0,5.0,10.0,6.0,5.0,4.0,5.0,6.0,...,32.0,24.0,41.0,34.0,58.0,42.0,20.0,1.0,2.0,NaN

In [ ]:
unemployemet_dataset